.match1{
   background-color: var(--second-color);
   width: 300px;
   height: 200px;
   border-radius: 8px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-200%, -100%);
 }


 .body-home{
  text-align: center;
  color: var(--letter-color);
  margin: 150px;
}

.sign-color:hover{
  color: var(--hover-color);
}