.login-form{
   text-align: center;
   background-color: var(--second-color);
   width: 500px;
   height: 400px;
   margin: auto;
   border-radius: 10px;
   color: var(--letter-color);
   margin-top: 80px;
}


.check-input{
   width: 10px;
   height: 10px;
}

.rmbr-label{
   margin-left: 5px;
   font-size: 14px;
}

.forgot-pwd{
   font-size: 14px;
   display: flex;
   justify-content: right;
   margin-right: 15px;
   margin-top: 120px;
}


.login-input{
   font-family: 'IBM Plex Mono', monospace;
   margin-top: 15px;
   font-size: 12px;
   height: 30px;
   width: 300px;
   border-radius: 10px;
   border: none;
 }


 .log-back-btn{
   background-color: var(--prime-color);
   color: black;
   margin: 10px;
 }


 .pwd-eye-icon2{
   position: absolute;
   top: 32%;
   margin-left: 122px;
   margin-top: 4px;

   /* right: 5px; */
   /* transform: translateX(610%); */
   cursor: pointer;
   color: var(--prime-color);
 }