.sidebar {
   height: 100%;
   width: 350px;
   position: fixed;
   top: 0;
   left: 0;
   background-color: var(--letter-color); 
   overflow-x: hidden;
   padding-top: 20px;
 }
 

/* Sidebar dropdown */
.sidebar .dropdown {
   position: relative;
   padding: 5px 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 /* Sidebar dropdown content */
 .sidebar .dropdown-menu {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1;
   list-style: none;
   padding-left: 10px;
   /* background-color: var(--second-color); */
   margin-top: 0;
   margin-left: 0;
   width: 40%;
   display: none;
 }

 /* drop down menu links */
 .dropdown-menu li a{
   color: black;
   text-decoration: none;
   /* cursor: default; */
 }

 .sidebar .dropdown-menu li {
   color: black;
   text-decoration: none;
   display: inline-block;
   padding: 5px 10px;

 }
 
 /* Show dropdown content when active */
 .sidebar .dropdown .dropdown-menu.show {
   display: block;
 }
 
 /* Dropdown arrow icon */
 .sidebar .dropdown button {
   display: flex;
   align-items: center;
   background-color: transparent;
   border: none;
   font-size: 16px;
   color: #000;
 }
 
 .sidebar .dropdown button svg {
   margin-left: 5px;
 }

 