.signup-form {
   text-align: center;
   background-color: var(--second-color);
   width: 500px;
   height: 500px;
   margin: auto;
   border-radius: 10px;
   color: var(--letter-color);
   margin-top: 80px;
 }

.signup-button{
   color: var(--prime-color);
   margin-left: 100px;
  
 }

.back-button{
  background-color: var(--prime-color);
  color: black;
  margin-left: -10px;
  /* margin: 10px; */

}
 
.sign-color:hover{
  color: var(--hover-color);
}

.account-msg{
  font-size: 14px;
}

/* --------- pwd eye icon --------- */

.password-container {
  position: relative;
}

.password-input {
  padding-right: 5px; /* to leave space for the icon */
}

.pwd-eye-icon {
  position: absolute;
  top: 50%;
  /* right: 5px; */
  transform: translateY(-2%);
  transform: translateX(-130%);
  cursor: pointer;
  color: var(--prime-color);
}
