.body-home{
   text-align: center;
}

.match1{
   background-color: var(--letter-color);
   width: 300px;
   height: 200px;
   border-radius: 8px;
   position: absolute;
   top: 50%;
   left: 50%;
   display: flex;
   transform: translate(-200%, -100%);  /* translate(x,y) */
   color: black;
 }


.match2{
   background-color: var(--letter-color);
   width: 300px;
   height: 200px;
   border-radius: 8px;
   position: absolute;
   top: 50%;
   left: 50%;
   display: flex;
   transform: translate(-200%, 10%);  /* translate(x,y) */
   color: black;
  
}
